@font-face
{
	font-family: open-sans;
	src: url("../fonts/open-sans/open-sans-regular.woff") format("woff");
}

@font-face
{
	font-family: open-sans;
	font-weight: bold;
	src: url("../fonts/open-sans/open-sans-semibold.woff") format("woff");
}

body
{
	font-family: open-sans;
}

table, th, td
{
	border: 1px solid black;
	text-align: center;
}

li
{
	padding: 5px;
}

.exerciseTitle
{
	font-size: 125%;
	font-weight: bold;
	margin-bottom: -15px;
}

.exerciseDay
{
	margin: auto;
	width: 500px;
}

.viewType
{
	width: 200px;
	text-align: center;
	padding: 16px;
}

.viewType:hover
{
	background: #ccc;
}

#options
{
	background: #e7e7e7;
	margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 300px;  
}

#content
{
	position: relative;
	width: 100%;
	height: 100%;
}

#overview
{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;	
}

#overviewTable
{
	margin: auto;
	width: 300px;
	height: 300px;
	border-collapse: collapse;
}

#detail
{
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}